.media {
  display: flex;
}

.media__figure {
  flex-shrink: 0;
  margin-right: .5rem;
}

.media__body {
  flex: 1;
  min-width: 0;
}

.media--fluid {
  @include media-breakpoint-down(md) {
    flex-direction: column;

    .media__figure {
      margin-right: 0;
      margin-bottom: .5rem;
    }
  }
}
